{% extends "layout.html" %}
{% block title %}Tapahtumantiedot{% endblock %}
{% block content %}
<h1>Tapahtuman tiedot: {{ event.event_type }}</h1>
<p>Päivämäärä: {{ event.event_date.strftime("%Y-%m-%d") }}</p>
<p>Aloitusaika: {{ event.event_start_time.strftime("%H:%M") }}</p>
<p>Lopetusaika: {{ event.event_end_time.strftime("%H:%M") }}</p>
<p>Sijainti: {{ event.event_location }}</p>
<p>Lisätiedot: {{ event.event_description }}</p>
<form action="/add_comment" method="POST">
    <input type="hidden" name="event_id" value="{{ event.id }}">
    {% if event.current_status == 'IN' %}
        <p>Olet IN</p>
        <label for="comment">Lisätiedot osallistumisestasi:</label>
        <p><textarea name="comment" rows="1" cols="30"></textarea></p>
        <button type="submit" class="btn btn-outline-primary">Lähetä</button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    {% elif event.current_status == 'OUT' %}
        <p>Olet OUT</p>
        <label for="comment">Syy poissaololle:</label>
        <p><textarea name="comment" rows="1" cols="30"></textarea></p>
        <button type="submit" class="btn btn-outline-primary">Lähetä</button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    {% else %}
        <p>Et ole vielä ilmoittautunut tapahtumaan.</p>
    {% endif %}
</form>
<p class="attendees-title">OSALLISTUVAT:</p>
<div class="attendees-box green-box">
    <ul>
        {% for reg in in_list %}
        <li class="name-box {{ 'external-player' if reg.user_type == 'external' else '' }} {{ 'coach' if reg.coach else '' }}">
            {{ reg.name }}{% if reg.comment %} ({{ reg.comment }}){% endif %}
        {% endfor %}
    </ul>
</div>
<p class="attendees-title">EI OSALLISTU:</p>
<div class="attendees-box red-box">
    <ul>
        {% for reg in out_list %}
        <li class="name-box {{ 'external-player' if reg.user_type == 'external' else '' }}">{{ reg.name }}{% if reg.comment %} ({{ reg.comment }}){% endif %}</li>
        {% endfor %}
    </ul>
</div>
{% if session.coach %}
<p></p>
<form action="/add_external_player_to_event" method="POST">
    <input type="hidden" name="event_id" value="{{ event.id }}">
    <label for="external_player">Lisää ulkopuolinen pelaaja tapahtumaan:</label>
    <p><input type="text" name="external_player" id="external_player" required></p>
    <button type="submit" class="btn btn-outline-primary">Lisää tapahtumaan</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
{% endblock %}  