CLUBTOOL
<hr>
{% if session.user_id %}
{% if events %}
<ul>
{% for event in events %}
<li>
<strong>{{ event.event_type }}</strong> - {{ event.event_date.strftime("%Y-%m-%d") }} klo {{ event.event_start_time.strftime("%H:%M") }} - {{ event.event_end_time.strftime("%H:%M") }}<br>
Sijainti: {{ event.event_location }}<br>
Kuvaus: {{ event.event_description }}<br>
IN: {{ event.in_count }} <br>
OUT: {{ event.out_count }}
<form action="/event_registration" method="post">
    <input type="submit" name="status" value="IN">
    <input type="submit" name="status" value="OUT">
    <input type="hidden" name="event_id" value="{{ event.id }}">
    <input type="hidden" name="user_id" value="{{ session.user_id }}">
</form>
</li>
<hr>
{% endfor %}
</ul>
{% else %}
<p>Ei tulevia tapahtumia.</p>
{% endif %}
Olet kirjautunut sisään.
{% if session.coach %}
<a href="/new_event">Luo uusi tapahtuma</a> |
{% endif %}
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
