CLUBTOOL
<hr>
{% if session.user_id %}
{% if events %}
<ul>
{% for event in events %}
<li>
<strong><a href="/event/{{ event.id }}">{{ event.event_type }}</a></strong> - {{ event.event_date.strftime("%Y-%m-%d") }} klo {{ event.event_start_time.strftime("%H:%M") }} - {{ event.event_end_time.strftime("%H:%M") }}<br>
Sijainti: {{ event.event_location }}<br>
IN: {{ event.in_count }} <br>
OUT: {{ event.out_count }} <br>
<form action="/event_registration" method="post">
    <input type="submit" name="status" value="IN">
    <input type="submit" name="status" value="OUT">
    <input type="hidden" name="event_id" value="{{ event.id }}">
    <input type="hidden" name="user_id" value="{{ session.user_id }}">
{% if event.current_status == 'IN' %}
Olet IN
{% elif event.current_status == 'OUT' %}
Olet OUT
{% else %}
Et ole vielä ilmoittautunut tapahtumaan!
{% endif %}
</form>
</li>
<hr>
{% endfor %}
</ul>
{% else %}
<p>Ei tulevia tapahtumia.</p>
{% endif %}
Olet kirjautunut sisään.
{% if session.coach %}
<a href="/new_event">Luo uusi tapahtuma</a> |
<a href="/send_message">Lähetä viesti</a>
{% endif %}
<a href="/logout">Kirjaudu ulos</a>
<a href="/messages">Viestit</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
