{% extends "layout.html" %}
{% block title %}Uusitapahtuma{% endblock %}
{% block content %}
<form action="/new_event" method="post">
    Tapahtuma: <br>
    <input type="radio" name="event_type" value="harjoitus" checked> harjoitus
    <input type="radio" name="event_type" value="ottelu"> ottelu
    <input type="radio" name="event_type" value="muu"> muu
    <p>
    Päivämäärä: <input type="date" name="event_date">
    <p>
    Tapahtuma alkaa: <input type="time" name="event_start_time">
    Tapahtuma päättyy <input type="time" name="event_end_time">
    <p>
    Tapahtumapaikka: <input type="text" name="event_location"> 
    <p>
    Lisätiedot: <br>
    <textarea name="event_description" rows="4" cols="40"></textarea> 
    <p>
    Kenelle: 
    <select name="position_specific">
        <option value="">Kaikille</option>
        <option value="maalivahti">Maalivahti</option>
        <option value="puolustaja">Puolustaja</option>
        <option value="keskikenttä">Keskikenttä</option>
        <option value="hyökkääjä">Hyökkääjä</option>
    </select>
    <p>
    <input type="submit" value="Luo tapahtuma">
</form>
{% endblock %}